In [1]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
from scipy import stats

df = pd.read_csv('br_takehome_exam_2022_scoring.csv')
# print(df)
df.head()

,job_aptitude_exam,same_industry,unexcused_absences,hs_gpa,good_behavior,high_school,enrolled_late,instructor,sensitive_01,sensitive_02,...,sensitive_14,sensitive_15,sensitive_17,sensitive_18,sensitive_19,sensitive_20,sensitive_22,sensitive_23,sensitive_24,sensitive_25
0,94.0,0,2,2.714,1.0,290,0,NaN,0.30,-0.22,...,-1.56994,1,1,0,1.78,0,0,-0.08,1,-0.81
1,107.0,0,3,2.872,0.0,393,0,inst_2,-0.91,-1.29,...,-5.99728,1,0,1,1.33,1,1,0.48,0,1.23
2,96.0,0,1,2.255,0.0,999,0,inst_9,0.25,1.35,...,-0.68430,1,0,1,0.82,1,0,0.33,1,0.44
3,103.0,0,0,3.495,0.0,180,0,inst_2,1.59,2.18,...,3.22895,1,0,1,-0.56,0,1,0.64,0,0.95
4,92.0,0,0,2.922,0.0,2,0,inst_3,-0.95,-1.00,...,-8.97706,0,1,0,0.51,0,1,0.43,0,-1.27

In [1]:
pip install autoviz
from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()
df = AV.AutoViz('br_takehome_exam_2022_scoring.csv')

SyntaxError: invalid syntax (<ipython-input-1-19abb4d2df98>, line 1)